@media screen and (max-width: 1400px) {
  #profile {
    height: 100vh;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #profile{
    display: block;
    /* padding-bottom: 6rem; */
  }
  .arrow {
    display: none;
  }
  section{
    height: fit-content;
  }
  section {
    /* margin: 0 5%; */
    padding-top: 10rem;
  }
  .profile-pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    padding-top: 2rem;
    justify-content: center;
  }
  .profile-text p, .profile-text h1 {
    text-align: center;
  }
  #profile-description {
    text-align: center;
    width: 50%;
    padding-left: 25%;
  }
  .socials-container {
    justify-content: center;
  }
  .about-containers {
    margin-top: 0;
  }
  .content {
    font-size: 12px;
  }
  .skill-category {
    width: 49%;
    vertical-align: top; 
  }
  .skill-list {
    display: inline;
  }
}

@media screen and (max-width: 700px) {
  #profile {
    padding-top: 13vh;
    padding-bottom: 3vh;
  }
  /* .socials-container {
    padding-top: 5vh;
  } */
  #profile-description {
    /* width: auto; */
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

  /* #desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

  #hamburger-nav {
    display: flex;
  }
  
  /* #contact,
  footer {
    height: 40vh;
  } */
  #profile {
    padding-top: 13vh;
    padding-bottom: 3vh;
  }
  article {
    font-size: 1rem;
  }
  /* footer nav {
    height: fit-content;
    padding-bottom: 2rem;
  } */
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container a {
    font-size: 20px;
  }
  footer a {
    font-size: 16px;
  }
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    /* flex-direction: column; */
    gap: 0.75rem;
    text-align: center;
  }
  .profile-pic-container {
    width: auto;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 50px;
  }
  .text-container {
    text-align: justify;
  }
  .about-subject {
    float: none;
    padding-bottom: 1.5vh;
  }
  .about-details {
    margin-left: 0%;
  }
  .content {
    font-size: 10px;
  }
  .skill-category {
    width: 49%; /* Full width for smaller screens */
  }

  .skill-header h2, .skill-list p {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
  
}
