/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Satoshi', sans-serif;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 0.3s ease;
}

/* DESKTOP NAV */

#desktop-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  animation: slide-in-down 0.7s ease-out forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-left: 5vh;
}

.logo {
  font-size: 25px;
  font-weight: 600;
}

.nav-links {
  gap: 2.8rem;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  padding-right: 10vh;
} 

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo a:hover {
  text-decoration: none;
  color: grey;
}


/* SECTIONS */

.section {
  height: 100vh;
  box-sizing: border-box;
  min-height: 100%;
}

.section-dark {
  background-color: #111111;
  color: #ffffff;
}

.profile-text {
  align-self: center;
  text-align: center;
  animation: slide-in-bottom 0.8s forwards
}

.title {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-size: 85px;
  letter-spacing: -3px;
  text-align: left;
}


/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100vh;
}

.pretitle-profile {
  font-size: 2.25rem;
  font-weight: 400;
  text-align: left;
  color:#2e2e2e
}

.title-profile {
  font-size: 80px;
  text-align: left;
}

#profile-description {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 21px;
  color: rgb(52, 52, 52);
  font-weight: 400;
  width: 450px;
  height: 90px;
}

.socials-container {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.email-icon {
  padding-top: 2.5px;
}

.profile-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  animation: slide-in-left 0.8s forwards;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.title-project {
  padding-left: 5vh;
  padding-right: 5vh;
}

.project-slider {
  display: flex;
  grid-template-columns: repeat(5, 5fr);
  padding-bottom: 2.5rem;
}

.project-list {
  display: flex;
  justify-content: left;
  padding-top: 4rem;
  gap: 2rem;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#first-project {
  padding-left: 5vh;
}

#last-project {
  padding-right: 5vh;
}

.project-details-container {
  height: auto;
}

.project-framer {
  color: white;
  width: 100%;
  height: 100%;
}

.project-framer:hover {
  text-decoration: none;
}

.project-framer:hover img {
  filter: brightness(80%);
  transition: all 0.3s ease;
}

.project-img {
  border-radius: 1rem;
  width: 565px;
  height: 423px;
}

.project-title {
  padding-top: 1rem;
  font-size: 16px;
  font-weight: 500;
  padding-left: 2px;
}

.slide-btn {
  margin-top: 4rem;
  position: absolute;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(126, 126, 126, 0.107);
  z-index: 10;
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50px;
  height: 423px;
  transition: background-color 100ms ease-in-out, opacity 100ms ease-in-out;
  opacity: 1;
}

.prev-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: 0;
  background: linear-gradient(to right, rgba(30, 30, 30, 0.6), rgba(0, 0, 0, 0));
}

.prev-btn:hover {
  background: linear-gradient(to right, rgba(40, 40, 40, 0.8), rgba(0, 0, 0, 0));
}

.next-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
  background: linear-gradient(to left, rgba(30, 30, 30, 0.6), rgba(0, 0, 0, 0));
}

.next-btn:hover {
  background: linear-gradient(to left, rgba(40, 40, 40, 0.8), rgba(0, 0, 0, 0));
}

.text {
  transition: transform 150ms ease-in-out;
}


/* ABOUT SECTION */

#about {
  position: relative;
  padding-top: 10vh;
  padding-left: 5vh;
  padding-right: 5vh;
  height: auto;
}

.about-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3.5vh;
}

.title-about {
  flex: 1;
}

.about-pic-container {
  flex: 0 0 auto; /* Prevents the image container from stretching */
  padding-right: 2.5vh;
}

.about-pic {
  height: 125px;
  width: 125px;
}

.about-container {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-left-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 0px; 
  border-top-width: 1px; 
  opacity: 1;
  padding: 6.5vh 0;
}

.about-subject {
  float: left;
}

.about-subject h1 {
  font-size: 20px;
  font-weight: 400;
  color: rgb(75, 75, 75);
}

.about-details {
  margin-left: 40%;
  padding-top: 0.1vh;
}

.about-details-text {
  color:rgb(10, 10, 10);
  font-size: 18px;
  letter-spacing: 0.25px;
}

/* ABOUT: TIMELINE */

.timeline {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 99.5%;
  height: 1.6px;
  background: #2e2e2e;
  top: 38.5px;
  left: 0px;
}

.timeline::after {
  content: '';
  position: absolute;
  right: 0;
  top: 34.5px;
  width: 0;
  height: 0;
  border-left: 10px solid #2e2e2e;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.event {
  position: relative;
  text-align: center;
  width: 250px;
  overflow: hidden;
  height: auto;
}

.date {
  font-size: 14px;
  transition: transform 0.15s ease-in-out;
}

.circle {
  width: 12px;
  height: 12px;
  background: #2e2e2e;
  border-radius: 50%;
  margin: 12.5px auto 12.5px;
  transition: background-color 0.2s ease-in-out;
  border: 1.5px solid #000000;
}

.content {
  font-size: 14px;
  transition: font-size 0.2s;
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 4px;
  transition: transform 0.2s ease-in-out;
}

.event:hover {
  cursor: default;
}

.event:hover .circle {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.event:hover .content {
  transform: scale(1.1);
  
}

.event:hover .date {
  transform: scale(1.1);
}

/* ABOUT: SKILLS */

.skill-category {
  width: 49.5%;
  display: inline-block;
}

.skill-header {
  padding-right: 50px;
  padding-bottom: 15px;
  height: 100%;
  display: inline-block;
  vertical-align: top; 
}

.skill-header h2 {
  font-size: 18px;
  color: rgb(75, 75, 75);
}

.skill-list {
  width: 25%;
  display: inline-block;
  vertical-align: top; 
}

.skill-list p {
  color: black;
  line-height: 1.8;
}

/* ABOUT: RESUME */

.about-resume {
  display: inline-block;
}

.view-resume {
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.view-resume:hover {
  color: rgb(100, 100, 100);
  text-decoration-color: rgb(100, 100, 100);
  cursor: pointer;
}


/* CONTACT */

#contact {
  display: flex;
  justify-content: left;
  flex-direction: column;
  height: auto;
  padding-top: 15vh;
  padding-left: 5vh;
  padding-right: 5vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pretitle-about {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  color:#8d8d8d
}

.contact-info-upper-container {
  padding-top: 2.8rem;
  padding-bottom: 2rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  padding-left: 5px;
  padding-bottom: 8px;
}

.contact-info-container a {
  font-size: 26px;
  color: white;
  transition: all 0.1s ease;
}

.contact-info-container a:hover {
  color: rgb(179, 179, 179);
  text-decoration: none;
}

.contact-info-container a:hover .svg-light {
  fill: rgb(67, 67, 67);
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 10vh;
  background-color: #111111;
}

footer a {
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.footer-links {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-left-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 0px; 
  border-top-width: 1px; 
  opacity: 1;
  padding-top: 1.2rem;
}

.footer-list {
  gap: 2.8rem;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  padding-right: 10vh;
} 

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  padding-right: 5rem;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 26px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding-right: 8.75vh;
  padding-top: 1rem;
}

.menu-links a {
  display: block;
  padding-bottom: 14px;
  text-align: right;
  font-size: 17px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links a:hover {
  color: rgb(100, 100, 100);
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(6px, -6px);
}

.light-text {
  color: white !important;
}

.light-text:hover {
  color: grey !important;
}

.light-icon {
  background-color: white !important;
}


/* Keyframees */

@keyframes slide-in-down {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.svg-dark {
  fill: rgb(36, 36, 36);
  width: 30px;
  transition: all 0.2s ease-in-out;
}

svg:hover {
  fill: rgb(67, 67, 67);
}

.svg-light {
  fill: rgb(92, 92, 92);
  width: 22px;
  transition: all 0.2s ease-in-out;
}